#app {
  margin: 30px;
}

.bar {
  fill: steelblue;
}

.selection ul {
  margin: 0;
  padding: 0;
}

.selection ul li {
  display: inline;
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
}
