.splash {
  height: 67%;
}

.introduction {
  margin: auto;
  position: relative;
  top: 40%;
  width: 800px;
  font-size: 60px;
  font-weight: bold;
  color: white;
  font-family: $sans-serif;
}

.start-tracking-button-container {
  margin: auto;
  position: relative;
  width: 350px;
  top: calc(100% - 53px);
  margin: 0 auto;
}

.start-tracking-button {
  background-color: $dark-pink;
  border-radius: 10px;
  opacity: 0.9;
  font-size: 35px;
  color: white;
  font-weight: bold;
  font-family: $sans-serif;
  padding: 20px 50px 20px 50px;
}
