.splash {
  height: calc(100% - 100px);
  position: relative;
}

.introduction {
  margin: 0 auto;
  position: absolute;
  top: calc(40% - 80px);
  left: calc(50% - 314px);
  font-size: 60px;
  color: white;
  font-family: $sans-serif;
}

.start-tracking-button-container {
  margin: auto;
  position: absolute;
  width: 350px;
  top: calc(53% - 80px);
  left: calc(50% - 140px);
  margin: 0 auto;
}

.start-tracking-button {
  border: 3px solid $dark-pink;
  font-size: 30px;
  color: white;
  font-family: $sans-serif;
  padding: 20px 40px 20px 40px;
}
