@import "../base/*";

// Introduction
.splash {
  height: 67%
}

.introduction {
  margin: auto;
  position: relative;
  top: 40%;
  width: 780px;
  font-size: 60px;
  font-weight: bold;
  color: white;
  // text-shadow: 1px 1px black;
  font-family: $sans-serif;
}

.start-tracking-button-container {
  margin: auto;
  position: relative;

  // left: 40.2%;
  width: 350px;
  top: 91.8%;
  // border: 1px solid black;

}

.start-tracking-button {
  background-color: #E91E63;
  border-radius: 10px;
  opacity: 0.9;
  font-size: 35px;
  color: white;
  font-weight: bold;
  font-family: $sans-serif;
  padding: 20px 50px 20px 50px;
}
