.help-headings {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background: white;
  font-size: 18px;
  font-family: $sans-serif;
  text-align: left;
  align-items: center;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #888888;
}

.help-page-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  margin: 25px 6px 6px 6px;
  background-color: $lightest-gray;
  border-radius: 10px;
  height: 100%;
}

.main-help-title {
  margin-left: 30px;
  font-family: $sans-serif;
  color: $dark-pink;
  font-size: 20px;
}

.profile-pic {
  display: flex;
  width: 267px;
  height: 400px;
}

.about-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  width: 50%;
  height: 600px;
  padding: 50px;

  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid black;

  h3, ul, a {
    width: 50%;
    color: black;
  }

  h1 {
    font-size: 35px;
    margin-top: 75px;
    margin-bottom: 40px;
    color: $dark-pink;
  }

  h1:hover {
    text-decoration: underline;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  ul {
    list-style: square;
    margin-left: 100px;
  }

  li {
    font-size: 15px;
    color: $teal;
  }
}
