.main-page {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.main-page-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  // background: linear-gradient(70deg, #EEEEEE, #F5F5F5);
}
