.timer-page-headings {
  width: 100%;
  z-index: 10;
}

.timer-page-body {
  overflow: auto;
  // border: 1px solid black;
  border-radius: 10px;
  margin: 25px 6px 6px 6px;
}

.main-timer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background: white;
  // opacity: 0.7;
  font-size: 18px;
  font-family: $sans-serif;
  text-align: left;
  align-items: center;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #888888;
}

.main-timer-text {
  padding-left: 20px;
}

.main-display-timer {
  display: flex;
  width: 30%;
  justify-content: flex-end;
}

.display-main-timer-text {
  padding: 15px 8px 8px 20px;
  margin-right: 70px;
  font-size: 24px;
  font-family: $sans;
  opacity: 0.8;
}

.main-timer-button {
  margin: 0 40px 0 1px;
  padding: 5px;
  font-size: 27px;
  color: $dark-pink;
}

.main-timer-button > .fa-play-circle {
  color: $teal;
}

:disabled > .fa-play-circle {
  color: gray;
}

.project-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 37px;
}

.new-project-button {
  margin-left: 800px;
  padding: 6px 12px 12px 12px;
  font-size: 18px;
  font-family: $sans;
  color: black;
  font-weight: bold;
  opacity: 0.7;
}

.fa-plus {
  margin-right: 10px;
  color: $dark-pink;
  opacity: 1;
}

.new-project-button:hover {
  color: $dark-pink;
}

.project-form {
  display: flex;
  justify-content: space-between;
}

.tasks-list {
  background: $lightest-gray;
  opacity: .9;
}

.button-task-detail {
  display: inline-block;
  // flex-direction: column;
  width: 100%;
}

.tasks-li {
  display: flex;
  position: relative;
  // justify-content: space-between;
  width: 100%;
  height: 80px;
  background: white;
  opacity: 0.7;
  font-size: 18px;
  font-weight: bold;
  font-family: $sans;
  text-align: left;
  align-items: center;
  // border-radius: 10px;
  box-shadow: 3px 3px 3px #888888;
  margin-bottom: 5px;
}

.create-task-input {
  width: 700px;
}

.task-li-title {
  display: flex;
  position: absolute;
  text-align: left;
  padding-left: 30px;
  font-family: $sans;
  font-weight: bolder;
  color: $dark-pink;
}

.task-li-project {
  position: absolute;
  text-align: left;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.task-li-time {
  position: absolute;
  top: 45%;
  left: 93%;
  transform: translate(-30%, -30%);
  padding-right: 30px;
}
