.help-headings {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background: white;
  font-size: 18px;
  font-family: $sans-serif;
  text-align: left;
  align-items: center;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #888888;
}

.help-page-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  margin: 25px 6px 6px 6px;
  background-color: $lightest-gray;
  border-radius: 10px;
  height: 100%;
}

.main-help-title {
  margin-left: 30px;
  font-family: $sans-serif;
  color: $dark-pink;
  font-size: 20px;
}
