.projects-page-headings {
  width: 100%;
}

.projects-page-headings {

}

.projects-headings {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background: white;
  // opacity: 0.7;
  font-size: 18px;
  font-family: $sans-serif;
  text-align: left;
  align-items: center;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #888888;
}

.projects-page-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  // background-color: #FFD600;
}

.projects-li {
  display: flex;
  flex-direction: column;
  border: 1px solid #888888;
  background: white;
  width: 300px;
  height: 300px;
  margin: 70px 40px 0 40px;
  border-radius: 20px;
  padding: 30px;
  font-family: $sans;
  box-shadow: 4px 4px 4px #888888;
  position: relative;
}

.projects-project {

}

.projects-project-title {
  font-size: 24px;
  font-weight: bold;
  color: $teal;
  margin-bottom: 20px;
  overflow-wrap: break-word;
}

.projects-project-time {
  font-size: 20px;
  font-weight: bold;
  color: $light-teal;
  margin-bottom: 30px;
}

.projects-project-tasks {
  // border: 0.5px solid $dark-pink;
  position: absolute;
  overflow: auto;
  height: 43.8%;
  width: 80%;
  overflow-wrap: break-word;
}

.main-projects-title {
  // font-family: $sans;
  // font-weight: bolder;

  margin-left: 30px;
  font-family: $sans-serif;
  color: $dark-pink;
  font-size: 20px;

}
