.project-detail-headings {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background: white;
  // opacity: 0.7;
  font-size: 18px;
  font-family: $sans-serif;
  text-align: left;
  align-items: center;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #888888;
}

.main-project-title {
  // font-family: $sans;
  // font-weight: bolder;

  margin-left: 30px;
  font-family: $sans-serif;
  color: $dark-pink;
  font-size: 20px;

}
