<!DOCTYPE html>
<html>
  <head>
    <title>TimeKeeper</title>
    <link rel="icon" type="image/gif/png" href="http://res.cloudinary.com/rlee0525/image/upload/v1484258093/Logomakr_45C5ad_nvlk7e.png">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300|Lora|Bungee+Hairline|Jacques+Francois+Shadow|Open+Sans:300|Lato" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v3.min.js"></script>
  </head>
  <body>

  <%= yield %>

  </body>
</html>
